<div class="book">
<h3><%= name %></h3>
<h4>Author: <%= author %></h4>
<p>Genres: <%= categories %></p>
<p>Price: $<%= price %></p>
<p>Date Published: <%= published.toDateString() %></p>
<div class="buttons">
<a class="edit button" href="<%=`/edit/book/${name}`%>">
Edit
</a>
<a class="delete button" href="<%=`/delete/book/${name}`%>">
Delete
</a>
</div>
</div>
