<li>
<h3><%= name %></h3>
<h4><%= author %></h4>
<p><%= categories %></p>
<p><%= price %></p>
<p><%= published.toDateString() %></p>
<a href="<%=`/edit/book/${name}`%>">
  Edit
</a>
<a href="<%=`/delete/book/${name}`%>">
  Delete
</a>
</li>
