<html>
  <head>
    <%= title %>
  </head>
  <body>
  <% if( mode === "category"){%>
    <form method="POST" action="/edit/category/<%=`${category.name}`%>">
      <label for="name">
      Category
      </label>
      <input type="text" name="previous" value="<%=`${category.name}`%>" hidden/>
      <input type="text" name="name"/>
      <button>
      Done
      </button>
      </form>
      <%} else{%>
        <form method="POST" action="/edit/book/<%=`${book.name}`%>">
          <input type="text" name="previous" value= "<%=`${book.name}`%>" hidden/>
          <label for="title">
          Name:
          </label>
          <input type="text" name="title" value= "<%=`${book.name}`%>"/>
          <label for="author">
          Author:
          </label>
          <input type="text" name="author" value="<%=`${book.author}`%>"/>
          <label for="categories">
          Categories:
          </label>
            <% categories.forEach((category) => { %>
                <% if(book.categories != null && book.categories.includes(category.title)) {%>
                <label for="<%=category.name%>"> <%=category.name%> </label>
                <input type="checkbox" name="<%=category%>" checked/>
                <% } else{ %>
                <label for="<%=category.name%>"> <%=category.name%> </label>
                <input type="checkbox" name="<%=category.name%>" />
                <%}}) %>
          <label for="price">
          Price:
          </label>
          <input type="number" name="price" value= "<%=`${book.price}`%>"/>
          <label for="published">
          Published:
          </label>
          <input type="date" name="published" value="<%= published%>"/>
          <button type="submit">
          Done
          </button>
          </form>
          <%}%>
     </body>
</html>

