<html>
  <head>
    <title>
      Inventory Application
    </title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      <div id="categories">
      <h2>
      <a  href="<%=`/`%>">
      All 
      </a>
      </h2>
      <% categories.forEach((category) => { %>
          <%- include('category', {name: category.name}); %>
          <% }); %>
      <h2>
      <a class="add" href="<%=`/new/category`%>">
      +
      </a>
      </h2>
      </div>
      <div id="books">
      <% books.forEach((book) => { %>
          <%- include('book', {name: book.name, categories: book.categories, author: book.author, price: book.price, published: book.published}); %>
          <% }); %>
      <h2>
      <a class="add" href="<%=`/new/book`%>">
      +
      </a>
      </h2>
      </div>
  </body>
</html>

