<html>
  <head>
    <link rel="stylesheet" href="new.css">
  <title>
    <%= title %>
  </title>
  </head>
  <body>
  <h2>
    <%= title %>
  </h2>
  <% if(title == "New Book"){ %>
    <%- include("partials/errors.ejs") %>
      <form method="POST" action="/new/book">
        <label for="title"> title: </label>
        <input type="text" name="title"/>
        <label for="categories"> Categories </label>
            <% categories.forEach((category) => { %>
                <label for="<%=category.name%>"> <%=category.name%> </label>
                <input type="checkbox" name="<%=category%>"/>
                <%}) %>
        <label for="author"> Author: </label>
        <input type="text" name="author"/>
        <label for="price"> Price: </label>
        <input type="number" name="price"/>
        <label for="published"> Date Published: </label>
        <input type="date" name="published"/>
    <button>
      Add Book
    </button>
    </form>
    <%}else{%>
      <%- include("partials/errors.ejs") %>
    <form method="POST" action="/new/category">
      <label for="name"> Name: </label>
      <input type="text" name="name"/>
      <button>
        Add Category
      </button>
    </form>
    <%}%>
  </body>
</html>

